<form action="/favorites" method="POST" class="flex justify-center">
  <button
    type="submit"
    class="bg-indigo-600 p-2 hover:bg-indigo-700 text-white rounded-lg text-sm transition duration-300 flex items-center"
  >
    <svg
      class="w-5 h-5 mr-1"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
      />
    </svg>
    Add to Favorites
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>
