<form action="/favorites" method="POST">
  <button
    type="submit"
    class="bg-green-600 p-2 hover:bg-green-900 text-white rounded-lg text-sm"
  >
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>
